{{> normalheader}}

<div class="container-fluid">
    <div class="row bg-light justify-content-center pt-5 pb-5">
        <div class="container col-md-8 font-weight-bold pt-3 pb-3">

            {{!-- {{#if success}}
                <div class="alert alert-success" role="alert">
                    OK
                </div>
                {{else}}
                    {{#if errors}}
                        {{#each errors}}
                        <div class="alert alert-danger" role="alert">
                            {{this.msg}}
                        </div>
                        {{/each}}
                    {{/if}}
                {{/if}} --}}

            {{> messages}}

            <form id="validateForm" method="POST" action="/login">
                

                <div class="form-group row">
                    <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>

                    <div class="col-md-6">
                        <input id="username" type="text"
                            class="form-control" name="username" required autofocus>

                    
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password"
                            class="form-control" name="password"
                            required>

                        
                    </div>
                </div>


                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>