{{> normalheader}}

<div class="container-fluid">
    <div class="row bg-light justify-content-center pt-5 pb-5">
        <div class="container col-md-8 font-weight-bold pt-3 pb-3">
            {{> messages}}

            <form id="validateRegister" method="POST" action="/signup" autocomplete="off">
                <div class="row form-group">

                    <label class="col-md-4 col-form-label text-md-right" for="role">Register Type</label>

                    {{#each roles}}
                    <div class="form-check col-md-6">
                        <input class="form-check-input" type="radio" name="role" id="{{this.id}}" value="{{this.id}}">
                        <label class="form-check-label" for="{{this.id}}">{{this.name}}</label>
                    </div>
                    {{/each}}
                </div>

                <div class="form-group row">
                    <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>

                    <div class="col-md-6">
                        <input id="username" type="text" class="form-control" name="username" value="{{username}}" required autofocus>


                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required>


                    </div>
                </div>

                <div class="form-group row">
                    <label for="password2" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                    <div class="col-md-6">
                        <input id="password2" type="password" class="form-control" name="password2" required>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>