<footer class="site-footer">
    <div class="container">


        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4 text-white">About</h3>
                <p>If anyone of us is asked about what we are doing every single day at Workgenerator, we will surely and proudly answer that we are doing the jobs of "Dream Makers".</p>
                <p><a href="" class="btn btn-primary pill text-white px-4">Read More</a></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                        <ul class="list-unstyled">
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Event</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Categories</h3>
                        <ul class="list-unstyled">
                            <li><a href="">Blogs</a></li>
                            <li><a href="">Search</a></li>
                            <li><a href="">Training Program</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="col-md-12">
                    <h3 class="footer-heading mb-4 text-white">Social Icons</h3>
                </div>
                <div class="col-md-12">
                    <p>
                        <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                        <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                        <a href="https://vimeo.com/326962125" class="p-2"><span class="icon-vimeo"></span></a>

                    </p>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>Copyright &copy; 2019<a
                        href="/">MyJobs</a>. All rights Reserved.</p>
            </div>

        </div>
    </div>
</footer>
