<div class="site-blocks-cover overlay" style="background-image: url('/images/hero_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h1>Find Job</h1>
                <form action="/search" method="get">

                    <div class="row mb-3">

                        <div class="col-md-9">
                            <div class="row">

                                <div class="col-md-6 mb-3 mb-md-0">
                                    <input type="text" name="title" class="mr-3 form-control border-0 px-4"
                                        placeholder="job title, keywords..">
                                </div>
                                {{!-- <div class="col-md-3 mb-3 mb-md-0">

                                    <select name="city" class="mr-3 form-control border-0" data-live-search="true"
                                        title="choose city...">
                                        
                                    </select>
                                </div> --}}
                                <div class="col-md-3 mb-3 mb-md-0">

                                    <select name="category" class="mr-3 form-control border-0" data-live-search="true"
                                        title="choose category...">
                                        
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-search btn-primary btn-block" value="Search">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>