<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->


<div class="site-navbar-wrap js-site-navbar bg-white">

    <div class="container">
        <div class="site-navbar bg-light">
            <div class="py-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <h2 class="mb-0 site-logo"><a href="/">My<strong class="font-weight-bold">Jobs</strong></a></h2>
                    </div>
                    <div class="col-10">
                        <nav class="site-navigation text-right" role="navigation">
                            <div class="container">
                                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#"
                                        class="site-menu-toggle js-menu-toggle text-black"><span
                                            class="icon-menu h3"></span></a></div>

                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li><a href="">Find a job</a></li>
                                    <li class="has-children">
                                        <a href="">For Employers</a>
                                        <ul class="dropdown arrow-top">
                                            <li><a href="">Category</a></li>


                                        </ul>
                                    </li>

                                    {{#if user}}
                                    <li class="has-children">
                                        <a href="">{{user.username}}</a>
                                        <ul class="dropdown arrow-top">
                                            <li>
                                                <a href="/home">Dashboard</a>
                                            </li>
                                            <li>
                                                <a href="/logout"
                                                    onclick="event.preventDefault();document.getElementById('logout-form').submit();">Logout</a>

                                                <form id="logout-form" action="/logout" method="POST"
                                                    style="display: none;">

                                                </form>

                                            </li>
                                        </ul>
                                    </li>
                                    {{#ifCond user.role.name '==' "Employer"}}

                                    <li><a href="/job/create"><span
                                                class="bg-primary text-white py-3 px-4 rounded"><span
                                                    class="icon-plus mr-3"></span>Post New Job</span></a></li>

                                    {{else}}
                                    <li><a href="/profile/create"><span
                                                class="bg-primary text-white py-3 px-4 rounded"><span
                                                    class="icon-plus mr-3"></span>Post CV</span></a></li>
                                    {{/ifCond}}
                                    {{else}}
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Register</a></li>
                                    {{/if}}







                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>