<div class="col-md-4 block-16">
    <div class="d-flex mb-0">
        <h2 class="mb-5 h3 mb-0">Find Jobs</h2>
    </div>


    <div class="border rounded p-4 bg-white">
        <!-- Search form -->
        <form action="/search" method="GET" class="mt-5 mb-5">
            
            <div class="active-4 mb-4">
                <input name="title" class="form-control" type="text"
                    placeholder="Job title or company name" aria-label="Search">
            </div>
            {{!-- <div class="active-4 mb-4">
                <select name="city" class="mr-3 form-control" data-live-search="true"
                    title="choose city...">
                    @foreach($cities as $city)
                    <option value="{{$city->name}}">{{$city->name}}</option>
                    @endforeach
                </select>
            </div> --}}
            <div class="active-4 mb-4">
                <select name="category" class="mr-3 form-control" data-live-search="true"
                    title="choose category...">
                    {{#each categories}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <input type="submit" class="text-white btn btn-search btn-primary btn-block border-0"
                    value="Search">
            </div>
        </form>

    </div>


</div>