{{> indexheader }}

<div class="site-section">
    <div class="container">
        {{> messages}}

        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">Popular Categories</h2>
            </div>
        </div>
        <div class="row">
            {{#each categories}}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <a href="/category/{{id}}" class="h-100 feature-item">
                    {{#if this.flaticon}}
                    <span class="d-block icon flaticon-{{this.flaticon}} mb-3 text-primary"></span>
                    {{/if}}
                    <h2>{{name}}</h2>
                    <span class="counting">{{count}}</span>
                </a>
            </div>
            {{/each}}
        </div>

    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col mb-5 mb-md-0">
                <h2 class="mb-5 h3">Recent Job</h2>

                <div class="rounded border jobs-wrap">
                    {{#ifCond jobs.length '>' 0}}
                    {{#each jobs}}
                    <a href="/job/details/{{_id}}"
                        class="job-item d-block d-md-flex align-items-center border-bottom {{getEmployeeTypeColor employee_type}}">
                        <div class="company-logo blank-logo text-center text-md-left pl-3">
                            <img src="/images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                        </div>
                        <div class="job-details h-100">
                            <div class="p-3 align-self-center">
                                <h3>{{title}}</h3>
                                <div class="d-block d-lg-flex">
                                     {{!--<div class="mr-3">
                                        <span class="icon-suitcase mr-1"></span>{{company->name}}
                                    </div>
                                    <div class="mr-3">
                                        <span class="icon-room mr-1"></span>{{location.name}}
                                    </div> --}}
                                    <div>
                                        <span class="icon-money mr-1"></span>{{salary}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="job-category align-self-center">
                            <div class="p-3">

                                <span
                                    class="text-{{getEmployeeTypeColor employee_type}} p-2 rounded border border-{{getEmployeeTypeColor employee_type}}">
                                    {{employee_type}}
                                </span>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                    {{/ifCond}}

                </div>

                <div class="col-md-12 text-center mt-5">
                    <a href="" class="btn btn-primary rounded py-3 px-5"><span class="icon-plus-circle"></span>
                        Show More Jobs</a>
                </div>
            </div>
            {{!-- <div class="col-md-4 block-16">
                <div class="d-flex mb-0">
                    <h2 class="mb-5 h3 mb-0">Featured Job</h2>

                </div>

                <div class="nonloop-block-16 owl-carousel">
                    

                </div>
           


            </div> --}}
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-5 mb-md-0">

                <div class="img-border">
                    <a href="https://vimeo.com/326962125" class="popup-vimeo image-play">
                        <span class="icon-wrap">
                            <span class="icon icon-play"></span>
                        </span>
                        <img src="/images/hero_2.jpg" alt="Image" class="img-fluid rounded">
                    </a>
                </div>

            </div>
            <div class="col-md-5 ml-auto">
                <div class="text-left mb-5 section-heading">
                    <h2>About!</h2>
                </div>

                <p class="mb-4 h5 font-italic lineheight1-5">In a city filled with so many choices, we thank you for
                    choosing us, and it would be our pleasure to continue serving you!</p>
                <p>&mdash; <strong class="text-black font-weight-bold">Hydra Team</strong><br> Marketing
                    Strategist</p>
                <p><a href="https://vimeo.com/326962125" class="popup-vimeo text-uppercase">Watch Video <span
                            class="icon-arrow-right small"></span></a></p>
            </div>
        </div>
    </div>
</div>


<div class="site-blocks-cover overlay inner-page" style="background-image: url('/images/hero_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="h3 mb-0">Your Dream Job</h1>
                <p class="h3 text-white mb-5">Is Waiting For You</p>
                <p>
                    <a href="" class="btn btn-outline-warning py-3 px-4 m-2">Find Jobs</a>
                    <a href="" class="btn btn-warning py-3 px-4 m-2">Apply Job</a>
                </p>

            </div>
        </div>
    </div>
</div>