#field {
    margin-left: .5em;
    /* float: left */
}

#field, label {
    /* float: left; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: small
}

br {
    clear: both
}

input.form-control {
    border: 1px solid #555;
    margin-bottom: .5em;
    color: black;
    box-shadow: #555;
}



input.error {
    border: 1px solid red;
    box-shadow: #b91d19;
}

label.error {
    color: #b91d19;
    padding-left: 16px;
    margin-left: .3em
}

input.valid {
    border: 1px solid green;
    box-shadow: green;
}

label.valid {
    color: green;
    padding-left: 16px;
    margin-left: .3em
}

input.pending {
    border: 1px solid blue;
    box-shadow: blue;
}

label.pending {
    color: blue;
    padding-left: 16px;
    margin-left: .3em
}

