<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form autocomplete="off">
    <label for="username">Username</label><br>
    <input id="username" type="text" placeholder="Nhập tên đăng nhập">

    <br>
    <label for="password">Password</label><br>
    <input type="password" id="password" placeholder="Nhập mật khẩu">

    <br><br>
    <button type="submit">Đăng nhập</button>
</form>