<div class="site-section bg-light">
    <div class="container">
        <div class="row">


            <div class="col-md-12 col-lg-8 mb-5">

                {{> messages}}
                
                <form method="POST" action="/job/store" class="p-5 bg-white">
{{!--                     
                    {{#ifCond error.length '>' 0}}
                        {{#each error}}
                            {{this}}
                        {{/each}}
                    {{/ifCond}}
                     --}}
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Job Title</label>
                            <input name="title" type="text" id="fullname" class="form-control"
                                placeholder="eg. Full Stack Frontend">
                        </div>
                    </div>

                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="salary">Salary</label>

                            <select class="form-control" name="salary">
                                {{#each codes.salaryRanges}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>

                        </div>
                    </div>
                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="qty">Quantity</label>
                            <input name="qty" type="text" id="qty" class="form-control" placeholder="10 - 20">
                        </div>
                    </div>
                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="gender">Gender</label>
                            <select name="gender" id="gender" class="form-control">
                                {{#each codes.genderList}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            
                            </select>
                        </div>
                    </div>
                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="level">Level</label>
                            <select name="level" class="form-control">
                                {{#each codes.jobLevels}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="job_type">Job Type</label>
                            
                                {{#each codes.workTimeList}}
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="job_type" id="{{this}}"
                                    value="{{this}}">
                                <label class="form-check-label" for="{{this}}">{{this}}</label>
                                </div>
                                {{/each}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="employee_type">Employee Type</label>


                            {{#each codes.employeeTypes}}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="employee_type" id="{{this}}"
                                    value="{{this}}">
                                <label class="form-check-label" for="{{this}}">{{this}}</label>
                            </div>
                            {{/each}}
                    
                        </div>
                    </div>


                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="category">Category</label>
                            <select name="category[]" class="form-control" multiple>
                                {{#each cates}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="description">Description</label>
                            <textarea name="description" class="form-control" id="description"></textarea>
                        </div>
                    </div>
                    {{!-- <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="requirement">Requirement</label>
                            <textarea name="requirement" class="form-control" id="requirement"></textarea>
                        </div>
                    </div> --}}
                    {{!-- <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="benefit">Benefit</label>
                            <textarea name="benefit" class="form-control" id="benefit"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="profile">Profile requirement</label>
                            <textarea name="profile" class="form-control" id="profile"></textarea>
                        </div>
                    </div>
                    <div class="row form-group mb-5">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="contact">Contact</label>
                            <input name="contact" type="text" id="contact" class="form-control">
                        </div>
                    </div> --}}

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Post New Job" class="btn btn-primary  py-2 px-5">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>