<div class="site-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">

                
                    <div class="p-3 bg-white border rounded">

                        <div class="mb-4 mb-md-5 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h4">{{job.title}}</h2>
                                <div class="badge-wrap">
                                    
                                    <span class="border border-{{getEmployeeTypeColor job.employee_type}} text-{{getEmployeeTypeColor job.employee_type}} py-2 px-4 rounded">
                                            {{job.employee_type}}
                                    </span>
                                </div>
                            </div>
                            {{!-- <div class="job-post-item-body d-block d-md-flex pt-2">
                                <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a
                                href="/job/details/{{id}}">{{$job->company->name}}</a></div>
                                <div><span class="fl-bigmug-line-big104"></span> <span>{{$job->location->name}}</span>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    <label class="font-weight-bold">Salary:</label>
                                    <span> {{job.salary}}</span>
                                </p>
                                <p>
                                    <label class="font-weight-bold">Gender:</label>
                                    <span> {{job.gender}}</span>
                                </p>
                                <p>
                                    <label class="font-weight-bold">Level:</label>
                                    <span> {{job.level}}</span>
                                </p>
                                <p>
                                    <label class="font-weight-bold">Quantity:</label>
                                    <span> {{job.qty}}</span>
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    <label class="font-weight-bold">Work Time:</label>
                                    <span> {{job.work_time}}</span>
                                </p>
                                <p>
                                    <label class="font-weight-bold">Employee Type:</label>
                                    <span> {{job.employee_type}}</span>
                                </p>
                               
                                <p>
                                    <label class="font-weight-bold">Category:</label>
                                    <span>
                                        {{#each job.category}}
                                            <a href="/category/details/'{{this.id}}">{{this.name}}</a>{{#if @last}}{{else}},{{/if}}
                                        {{/each}}
                                    </span>
                                </p>
                            </div>
                        </div>


                        <table class="table table-bordered mt-3">
                            <tbody>
                            <tr>
                                <th scope="row">Description</th>
                                <td>{{job.description}}</td>
                            </tr>
                            {{!-- <tr>
                                <th scope="row">Requirement</th>
                                <td>{!!$job->requirement!!}</td>
                            </tr>
                            <tr>
                                <th scope="row">Benefit</th>
                                <td>{!!$job->benefit!!}</td>
                            </tr>
                            <tr>
                                <th scope="row">Profile</th>
                                <td>{!!$job->profile_requirement!!}</td>
                            </tr>
                            <tr>
                                <th scope="row">Contact</th>
                                <td>{{$job->contact}}</td>
                            </tr> --}}

                            </tbody>
                        </table>

                        <p class="mt-5"><a href="#" class="btn btn-primary  py-2 px-4">Apply Job</a></p>
                    </div>
                </div>

                <div class="col-lg-4">
                    {{!-- <div class="p-3 bg-white border rounded">
                    <a href="{{route('home.company.show', $job->company->getRouteKeyName())}}"><h3 class="h5 text-black mb-3">{{$job->company->name}}</h3></a>
                        <div>
                            <span>{{$job->company->address}}</span>
                        </div>
                    </div> --}}
                    {{!-- <br> --}}
                    {{!-- {{#ifCond jobs.length '>' 1}}
                    <div class="p-3 bg-white border rounded">
                        <div class="h5 text-black">Other Job</div>
                        <table class="table table-bordered">
                            <tbody>

                            foreach($job->company->jobs->where('id','<>',$job->id)->take(10) as $item)
                            <tr>
                                <td><a href="{{route('home.job-details',$item->getRouteKeyName())}}">{{$item->title}}</a></td>
                            </tr>

                            endforeach
                            </tbody>
                        </table>
                    <a href="{{route('home.company.show', $job->company->getRouteKeyName())}}" class="btn btn-dark py-2 px-4">See all</a>
                    </div>
                    {{/ifCond}} --}}
                </div>
            </div>
        </div>
    </div>
    </div>