<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-8 mb-5 mb-md-0" >
                <h2 class="mb-5 h3">{{total}} {{#ifCond total '>' 1}}jobs{{else}}job{{/ifCond}} found</h2>
                {{#if jobs)
                <div class="rounded border jobs-wrap">

                    {{#each jobs}}

                    <a href="/job/details/{{id}}"
                        class="job-item d-block d-md-flex align-items-center border-bottom {{getEmployeeTypeColor employee_type}}">
                        <div class="company-logo blank-logo text-center text-md-left pl-3">
                            <img src="/images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                        </div>
                        <div class="job-details h-100">
                            <div class="p-3 align-self-center">
                                <h3>{{title}}</h3>
                                <div class="d-block d-lg-flex">
                                    {{!-- <div class="mr-3"><span class="icon-suitcase mr-1"></span> {{$job->company->name}}
                                    </div> --}}
                                    {{!-- <div class="mr-3"><span class="icon-room mr-1"></span> {{$job->location->name}}
                                    </div> --}}
                                    <div><span class="icon-money mr-1"></span> {{salary}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="job-category align-self-center">
                            <div class="p-3">
                                <span
                                    class="text-{{getEmployeeTypeColor employee_type}} p-2 rounded border border-{{getEmployeeTypeColor employee_type}}">
                                    {{employee_type}}
                                </span>
                            </div>
                        </div>
                    </a>
                    {{/each}}

                </div>

                {{!-- <div class="col-md-12 text-center mt-5">
                    {{$jobs->links()}}
                </div> --}}
                {{/if}}
            </div>

            {{> search-panel}}
        </div>
    </div>
</div>